# Copyright (c) 2026 Shaedil
# SPDX-License-Identifier: MIT

# SoC setup, as in Framework's board defconfig
CONFIG_GPIO=y
CONFIG_I2C=y
CONFIG_ARM_MPU=y
CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y
CONFIG_CACHE_MANAGEMENT=y
CONFIG_EXTERNAL_CACHE=y
CONFIG_NRF_GRTC_START_SYSCOUNTER=y

# Settings in the storage partition
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_ZMS=y
CONFIG_SETTINGS_ZMS=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y

# Matches Framework's MCUboot (daisy branch)
CONFIG_MCUBOOT_BOOTLOADER_MODE_OVERWRITE_ONLY=y

CONFIG_ZMK_BLE=y

CONFIG_ZMK_USB=y
CONFIG_ZMK_USB_DEVICE_STACK_NEXT=y

CONFIG_ZMK_BATTERY_REPORTING=y
CONFIG_ZMK_BATTERY_REPORTING_FETCH_MODE_STATE_OF_CHARGE=y
