# Copyright (c) 2026 Shaedil
# SPDX-License-Identifier: MIT

config BOARD_FRAMEWORK_WIRELESS_TP_KB
	select SOC_NRF54LM20A_CPUAPP if BOARD_FRAMEWORK_WIRELESS_TP_KB_NRF54LM20A_CPUAPP_ZMK
	select ZMK_BOARD_COMPAT if BOARD_FRAMEWORK_WIRELESS_TP_KB_NRF54LM20A_CPUAPP_ZMK
